In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [3]:
os.getcwd()

'C:\\Users\\A Sua\\Documents\\FIU\\Fall2019\\ML\\project'

In [4]:
os.listdir()

['.ipynb_checkpoints',
 'application_test_data.xlsx',
 'application_training_data.xlsx',
 'application_training_data_import.csv',
 'CAP 5610 - Project Rubric.docx',
 'data_dictionary.csv',
 'data_exploration.ipynb',
 'home-credit-default-risk.zip',
 'Project Proposal.docx',
 'project_instructions.ipynb',
 '~$oject Proposal.docx']

In [7]:
training_data= pd.read_csv('application_training_data_import.csv', index_col='SK_ID_CURR')
training_data.head()

,TARGET,NAME_CONTRACT_TYPE,GENDER_FLAG,FLAG_OW0_CAR,FLAG_OW0_REALT1,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,0,1,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100003,0,Cash loans,F,0,0,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,Revolving loans,M,1,1,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100006,0,Cash loans,F,0,1,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100007,0,Cash loans,M,0,1,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0